nav {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 5vh;
  height: 5dvh;
  padding: 5px;
  background-color: var(--bg-2);
  box-sizing: border-box;
}
nav img {
  width: 4vh;
  width: 4dvh;
  height: 4vh;
  height: 4dvh;
}

#map {
  width: 100vw;
  width: 100dvw;
  height: 95vh;
  height: 95dvh;
  box-sizing: border-box;
}